# Logs
logs
*.log

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
dist/

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test